*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../images/background.png);
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

main{
    height: 100vh;
    text-align: center;
    color:#f43535;
}

.titulo-botones{
    font-size:55px;
    margin-bottom: 1rem;
}

.lista-botones{
    list-style: none;
    height: auto;
    margin-top: 1rem;
}

li{
    margin-top: 1rem;
}

.boton-musica{
    display: inline-block;
    text-decoration: none;
    background-color: #0b7689;
    color: #f43535;
    padding: 15px;
    border-radius: 15px;
    width: 15%;
}

.youtube-btn{
    display: none;
}

/*FOOTER*/

footer{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
    justify-content: space-between;
}

.redes-sociales{
    align-items: center;
    justify-content: center;
}

.lista-redes{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-social{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 25px;
    padding: 1rem;
}

.red-social a{
    text-decoration: none;
    color: white;
    background-color: #f43535;
    padding: 1rem;
    border-radius: 15px;
}

.red-social a:hover{
    background-color: #834a4a;
}

.juani{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    vertical-align:middle;
    text-align: center;
    line-height: 1rem;
}

/*MEDIAS QUERY*/

@media (max-width:687px){
    .titulo-botones{
        font-size: 40px;
    }
}

@media(max-width:562px){
    iframe{
        width: 95%;
    }
}

@media (max-width:400px) {
    .logo{
        width: 95%;
        height: 95%;
    }
}