*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(../images/Background.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

main{
    text-align: center;
    color:#f43535;
}


.lista-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: auto;
    margin-top: 2rem;
}

.lista-botones li{
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.lista-botones li i{
    width: 200px;
    text-align: center;
    color: white;
    font-size: 40px;
    border: white solid;
    border-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: transform .3s;
}

.lista-botones li i:hover{
    transform: scale(1.5);
}

/*FOOTER*/

footer{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: rgba(255, 255, 255, 0.897);
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.lista-redes{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-social{
    margin-top: 1rem;
}

.red-social a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.900);
}

.red-social a i{
    font-size: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

h3,h4{
    font-weight: normal;
}

.juani{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    vertical-align:middle;
    text-align: center;
    line-height: 1rem;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.884);
    font-family: 'Montserrat', sans-serif;
}

/*MEDIAS QUERY*/

@media(max-width:795px){
    .lista-botones{
        flex-direction: column;
        margin-top: 0;
    }

    .lista-botones li{
        margin-top: 1rem;
    }

    .red-social a i{
        padding: 0;
        margin-left: 1rem;
        font-size: 25px;
    }

    .juani{
        font-size: 10px;
    }
}

@media (max-width:467px){
    .lista-botones{
        margin: 0;
    }
}

@media (max-width:425px) {
    .logo{
        width: 95%;
        height: 95%;
    }

    .yt-video{
        width: 95%;
    }

    .lista-redes{
        margin-left: 0.5rem;
    }

    .juani{
        font-size: 8px;
        margin-right: 0.5rem;
    }
}

@media (max-height:800px){
    main{
        height: 800px;
    }
}