*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

main{
    text-align: center;
    color:#f43535;
}

.titulo-botones{
    font-size:55px;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.lista-botones{
    list-style: none;
    height: auto;
    margin-top: 1rem;
}

li{
    margin-top: 1rem;
}

.boton-musica{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    background-color: #0b7689b4 ;
    color: #f43535;
    text-shadow: 0.1em 0.1em 0.15em black;
    padding: 15px;
    border-radius:100px 0px 100px 0;
    width: 15%;
    transition: transform .5s;
}

.boton-musica:hover{
    transform: scale(1.2);
}

.youtube-btn{
    display: none;
}

/*FOOTER*/

footer{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
    justify-content: space-between;
    margin-top: 0;
}

.redes-sociales{
    align-items: center;
    justify-content: center;
}

.lista-redes{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-social{
    margin-top: 1rem;
    margin-left: 1rem;
}

.red-social a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
}

.red-social a i{
    font-size: 40px;
    margin-left: 1rem;
    
}

.juani{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    vertical-align:middle;
    text-align: center;
    line-height: 1rem;
    font-size: 13px;
    color: rgb(185, 185, 185);
}

/*MEDIAS QUERY*/

@media (max-width:687px){
    .titulo-botones{
        font-size: 40px;
    }
}

@media(max-width:562px){
    iframe{
        width: 95%;
    }
}

@media (max-width:400px) {
    .logo{
        width: 95%;
        height: 95%;
    }
}